<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title>Car Sharing</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="./src/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="./src/datepicker/locales/bootstrap-datepicker.es.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./src/datepicker/css/bootstrap-datepicker.css">
    <link rel="stylesheet" type="text/css" href="./src/datepicker/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="./src/datepicker/css/bootstrap-datepicker.standalone.css">
    <link rel="stylesheet" type="text/css" href="./src/datepicker/css/bootstrap-datepicker.standalone.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles/main.css">

    <link rel="stylesheet" type="text/css" href="./styles/googlemaps.css">
     
</head>



<body ng-app="appCarSharingApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->

  <div class="header">

          <div class="container" ng-controller="MainCtrl">
            <div class="row">
                  
                <div class="col-md-6">
                  <a  href="info" title="CarSharin">
                      <img  src="images/logo.jpeg"  width="40" height="40"class="img-circle">
                  </a>
                  <a href="#/">
                  <div class="btn">
                      <h4>Car Sharing</h4>
                  </div>
                  </a>
                </div>
            
                <div class="col-md-1">
                    <div class="btn">
                        <a ng-href="#/cars" id="getstarted">
                            <h4>Carros</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="btn">
                        <a ng-href="#/eventcreation" id="eventCreation">
                            <h4>Comparte</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="btn">
                        <a ng-href="#/joinevent" id="joinEvent">
                            <h4>Unete</h4>
                        </a>
                    </div>
                </div>
            
                <div class="col-md-1">
                    <a ng-href="#/joinevent">
                      <div class="btn" ng-click="show()">
                          <h4>{{firtsOpc}}</h4>
                        </div>
                      </a>
                </div>
                <div class="col-md-2"> 
                  <div class="btn" >   
                    <a ng-href="#/signup" ng-click="show()">      
                          <h4 >{{secondOpc}}</h4>  
                    </a>  
                 </div>           
                </div>
                  
            </div>
          </div>
      </div>
    <div ng-view=""></div>
    <div class="footer">
        <!--Inicio footer-->
        <div class="container">
            <div class="row">
                <div class="col-md-1" ng-href="#/about"></div>
                <div class="col-md-2">
                    <a ng-href="#/about">Seguridad</a>
                </div>
                <div class="col-md-2">
                    <a ng-href="#/about">Política de privacidad</a>
                </div>
                <div class="col-md-2">
                    <a ng-href="#/about">Condiciones de uso</a>
                </div>
                <div class="col-md-2">
                    <a ng-href="#/about">Contáctenos</a>
                </div>
                <div class="col-md-2">
                    <a ng-href="#/about">¿Quiénes somos?</a>
                </div>
            </div>
            <br>
            <div class="row">
                <p align="center">
                    <strong>CAR SHARING</strong>
                    <br>
                    <strong>Univesidad de Antioquia</strong>
                    <br> Medellín, Antioquia, Colombia.
                    <br> Es recomendable usar Google Chrome o Firefoz en una resolución de 1024 x 768 o superior.
                    <br> We recommend using Internet Explorer 8.0 or 9.0, Chrome, Firefox at a resolution of 1024 x 768 or higher.
                </p>
            </div>
            <br>
            <div class="row" align="center">
                <div class="redesSocialesFooter">
                    <div class="iconosRedes">
                        <a href="" target="_blank" title="Facebook"><img src="images/ico-facebook.png"></a>
                        <a href="" target="_blank" title="Twitter"> <img src="images/ico-twitter.png"></a>
                        <a href="" target="_blank" title="Youtube"><img src="images/ico-youtube.png"></a>
                    </div>
                    <div class="texto-copy">Copyright © 2015 CAR SHARING</div>
                </div>
            </div>
        </div>
    </div>

   
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    ! function(A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
                (A[l].q = A[l].q || []).push(arguments)
            }, A[l].l = +new Date, a = n.createElement(g),
            r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="./src/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="./src/datepicker/locales/bootstrap-datepicker.es.min.js"></script>
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js" charset="UTF-8"></script>
    <script src="scripts/controllers/about.js" charset="UTF-8"></script>
    <script src="scripts/controllers/cars.js" charset="UTF-8"></script>
    <script src="scripts/controllers/singup.js" charset="UTF-8"></script>
    <script src="scripts/controllers/eventcreation.js" charset="UTF-8"></script>
    <script src="scripts/controllers/joinevent.js" charset="UTF-8"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="./src/ui-bootstrap/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <!-- endbuild -->
    <!-- endbuild -->
</body>

</html>
