<br />
<form class="form-horizontal" name="carsListForm" role="form">
	<h1 style="text-align: center;">Agregar Nuevo Carro</h1>
	<div class="row">
		<div class="col-sm-2">
			<div class="input-group">
				<span class="input-group-addon"> <label class="control-label">Placa*
				</label> <input class="form-control" type="text" ng-model="carriagePlate" required="required" />
				</span>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="input-group">
				<span class="input-group-addon"> <label class="control-label">Marca*
				</label><select ng-model="brand" class="form-control" required="required">
						<option ng-repeat="b in brandlist" value="{{b.brand}}">{{b.brand}}</option>
				</select>
				</span>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="input-group">
				<span class="input-group-addon"> <label class="control-label">Modelo*
				</label> <input class="form-control" type="text" ng-model="model" required="required" />
				</span>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="input-group">
				<span class="input-group-addon"> <label class="control-label">Color
				</label> <input class="form-control" type="text" ng-model="color" required="required" />
				</span>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="input-group">
				<span class="input-group-addon"> <label class="control-label">Capacidad*
				</label> <input class="form-control" type="number"
					ng-model="capacity" required="required" />
				</span>
			</div>
		</div>
	</div>
	<br />
	<div class="form-group" align="center">
		<button class="btn btn-success" type="button" ng-click="addCar()">
			<span class="glyphicon glyphicon-save"></span> Agregar
		</button>
	</div>

	<br /> <br />

	<div>
		<spacer type="block" width="50" />
		<h1 style="text-align: center;">Lista de Carros</h1>
		<br />
		<div class="table-responsive">
			<table class="table table-striped" style="text-align: center;">
				<thead>
					<tr>
						<th style="text-align: center;">Placa</th>
						<th style="text-align: center;">Marca</th>
						<th style="text-align: center;">Modelo</th>
						<th style="text-align: center;">Color</th>
						<th style="text-align: center;">Capacidad</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="car in carlistByUser">
						<td>{{car.carriagePlate}}</td>
						<td>{{car.brand.brand}}</td>
						<td>{{car.model}}</td>
						<td>{{car.color}}</td>
						<td>{{car.capacity}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	</div>
</form>