<div class="jumbotron">
  <p class="lead">
    <img src="images/car_sharing_1.jpg" alt=""><br>
   Si tú deseas ahorrar dinero, tenemos una gran compañía que puede ayudarte con un solo click, comparte tu vehículo y viaja con amigos o compañeros a diferentes lugares en comodidad y de una manera facil. 
	<br>
   <!-- You want to save money, have a nice company and help the environment in a single clic, share your route and travel with friends or neighbors near places together in a comfortable and safe manner. -->
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/cars">Get started for free<span class="glyphicon glyphicon-ok"></span></a></p>
</div>


